@import "tailwindcss";

@theme {
  --color-background: oklch(0.18 0.01 268.09);
  --color-foreground: oklch(0.87 0.01 286.29);
  --color-accent: oklch(1 0 0);
  --color-primary: oklch(0.49 0.24 264.4 / 0.44);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(0.94 0 0);
  --color-secondary-foreground: oklch(0.18 0.01 268.09);
  --color-border: oklch(0.89 0 0 / 0.1);
  --color-active: oklch(0.89 0 0 / 0.08);
  --padding-basic: 1.5rem;
  --text-base: 15px;
}

@layer utilities {
  .px-basic {
    @apply px-1 md:px-3 lg:px-basic;
  }

  .card:hover .card-arrow {
    @apply transition-transform -translate-y-1 translate-x-1 duration-150 ease-in-out;
  }
}

@layer components {
  .page-container {
    @apply xl:mx-auto lg:mt-4 mb-8 lg:mb-14 px-3 md:px-6 xl:px-0 w-full max-w-[calc(80rem+var(--padding-basic))];
  }

  .inline-link {
    @apply inline-flex items-center gap-1.5 font-medium text-accent underline underline-offset-4 shrink-0;
  }
  .tech-hl {
    position: relative;
    display: block;
  }

  .tech-hl:not(:last-child)::after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-accent);
    position: absolute;
    right: -12px;
    top: 50%;
    translate: 0 -59%;
  }

  .star-list {
    list-style: disc;
    margin-left: 1rem;
  }

  .star-list li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .wave {
    animation: wave-animation 2.5s infinite;
    transform-origin: 30% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer base {
  body {
    font-family: "Google Sans", sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  strong {
    font-weight: 500;
    color: var(--color-accent);
  }
}
